/*
 * Copyright (c) 2023 Andrew Kannan
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    macros {
        alt_f4: alt_f4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp F4>;
            label = "ALT_F4";
        };

        inspect_page: inspect_page {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_CONTROL &kp LEFT_SHIFT &kp I>;
            label = "INSPECT_PAGE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------
            // | ESC |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  | BKSP|BKSP|
            // | TAB  |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |   "|"   |
            // | CAPS  |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |     ENTER    |
            // |  SHIFT  |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  /  |  SHIFT  | MO(1)  |
            // |  CTL  |  WIN  |  ALT  |            SPACE              |  ALT  |  WIN  |  MO(1) |  CTL  |
            // ------------------------------------------------------------------------------------------

            bindings = <
&gresc     &kp N1    &kp N2  &kp N3    &kp N4  &kp N5  &kp N6     &kp N7  &kp N8  &kp N9     &kp N0    &kp MINUS  &kp EQUAL  &kp BSLH  &kp GRAVE
&kp TAB    &kp Q     &kp W   &kp E     &kp R   &kp T   &kp Y      &kp U   &kp I   &kp O      &kp P     &kp LBKT   &kp RBKT             &kp BACKSPACE
&mo 3      &kp A     &kp S   &kp D     &kp F   &kp G   &kp H      &kp J   &kp K   &kp L      &kp SEMI  &kp SQT                         &kp RET
&kp LSHFT            &kp Z   &kp X     &kp C   &kp V   &kp B      &kp N   &kp M   &kp COMMA  &kp DOT   &kp FSLH   &kp RSHFT            &mo 1
&kp LCTRL  &kp LGUI          &kp LALT                  &kp SPACE                             &kp RALT  &kp RGUI   &mo 2                &kp RCTRL
            >;
        };

        shortcut_commands {
            // ------------------------------------------------------------------------------------------------
            // | BT CLR |     |     |     |     |     |     |     |     |     |     |    |    |       |       |
            // |  BT 1   |   |     |   |       |       |       |       |   |     |    |     |     |           |
            // |   BT 2   |    |      |    |       |       |       |       |      |      |      |  |   Reset  |
            // |    BT 3     |     |      |      |     |     |     |     |     |     |     |         |        |
            // |   BT 4  |      |      |                                    |         |       |       |       |
            // ------------------------------------------------------------------------------------------------

            bindings = <
&trans  &trans  &trans  &trans  &alt_f4        &trans  &trans  &trans  &trans         &trans  &trans             &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &kp K_REFRESH  &trans  &trans  &trans  &inspect_page  &trans  &ext_power EP_OFF  &trans  &trans          &trans
&trans  &trans  &trans  &trans  &trans         &trans  &trans  &trans  &trans         &trans  &trans             &trans                  &ext_power EP_ON
&trans          &trans  &trans  &trans         &trans  &trans  &trans  &trans         &trans  &trans             &trans  &trans          &trans
&trans  &trans          &trans                         &trans                                 &trans             &trans  &trans          &trans
            >;
        };

        rgb_layer {
            // ------------------------------------------------------------------------------------------------
            // |    `   | F1  | F2  | F3  | F4  | F5  | F6  | F7  | F8  | F9  | F10  | F11 | F12 |     | DEL  |
            // | EFCT REV|   |  UP |   | HUEUP | SATUP | BRIUP | SPDUP |      |  PGUP |    |     |    |       |
            // | EFCT FWD | LT |  DN  | RT | HUEDN | SATDN | BRIDN | SPDDN | HOME | PGDN | END  |  | BOOTLDR  |
            // |             |     |      |      |     |     |     |     |     |     |     |         |        |
            // |         |      |      |             TOG RGB                | PRT SCR |       |       |  MO(2)|
            // ------------------------------------------------------------------------------------------------

            bindings = <
&kp GRAVE        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3     &bt BT_SEL 4     &kp F6           &kp F7           &kp F8    &kp F9    &kp F10    &kp F11  &kp F12  &trans  &bt BT_CLR
&rgb_ug RGB_EFR  &trans        &kp UP        &sys_reset    &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &trans    &kp PGUP  &trans     &trans   &trans           &trans
&rgb_ug RGB_EFF  &kp LEFT      &kp DOWN      &kp RIGHT     &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &kp HOME  &kp PGDN  &kp END    &trans                    &bootloader
&trans                         &trans        &trans        &trans           &trans           &trans           &trans           &trans    &trans    &trans     &trans   &trans           &trans
&trans           &trans                      &trans                                          &rgb_ug RGB_TOG                                       &kp PSCRN  &trans   &trans           &mo 1
            >;
        };

        caps-lock-layer {
            bindings = <
&trans  &trans    &trans          &trans           &trans  &trans  &trans  &trans    &trans   &trans  &trans  &trans  &trans  &trans  &kp PRINTSCREEN
&trans  &trans    &kp UP_ARROW    &trans           &trans  &trans  &trans  &trans    &trans   &trans  &trans  &trans  &trans          &kp DELETE
&trans  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans  &trans  &kp HOME  &kp END  &trans  &trans  &trans                  &kp CLCK
&trans            &trans          &trans           &trans  &trans  &trans  &trans    &trans   &trans  &trans  &trans  &trans          &trans
&trans  &trans                    &trans                           &trans                             &trans  &trans  &trans          &trans
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        alt+f4 {
            timeout-ms = <50>;
            key-positions = <4 0 1 2 3 4 5 6 7 8 9 10 11 15 16 17 18 19 20 21 22 23 24 25 29 30 31 32 33 34 35 36 37 38 39 42 43 44 45 46 47 48 49 50 51 55 56 57 59 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 59 60 61 62 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62>;
            bindings = <&kp LEFT_ALT>;
            layers = <1>;
        };
    };
};
